body {
  height: auto;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #1ae066;
  height: 66px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}
section {
  background-color: #d4e6e9;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #707070;
  height: 320px;
  display: flex;
  flex-direction: row;
}
header > div:nth-child(1) {
  width: 12%;
  background-color: #1ae066;
  display: flex;
  flex-direction: row;
  min-width: 109px;
}
header > div:nth-child(2) {
  width: 58%;
  background-color: #1ae066;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header > div:nth-child(3) {
  width: 30%;
  min-width: 227px;
  background-color: #1ae066;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section div {
  height: 40%;
  background-color: #d4e6e9;
}
section > article {
  height: 60%;
  background-color: #d4e6e9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
footer > article {
  width: 25%;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.rightBorder {
  border-right: 1px solid #504f4f;
}

header > div:nth-child(1) > div:nth-child(1) {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header > div:nth-child(1) > div:nth-child(2) {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

input {
  height: 1.3em;
  margin-left: 1em;
}
img {
  height: 100%;
}

form {
  width: auto;
  padding-right: 7px;
  padding-left: 5px;
  margin-right: 4px;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #18b153;
  transition: display 3s;
}
form > a {
  width: 30%;
  height: 50%;
  margin-left: 5px;
}
section > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section > div > img {
  margin: 10px 0px;
  height: 90%;
  border: 5px solid #18b153;
  border-radius: 50%;
}
.article > div:nth-child(n) {
  background-color: #1ae066;
  width: 45%;
  min-height: 150px;
  border-radius: 4% 35% 50% 80%;
  border: 2px solid #000000;
  margin: 35px 0px;
  box-shadow: 12px 20px 7px #5e5e5e;
}
.article > div:nth-child(n) > img {
  height: 2.2rem;
  margin-top: 3px;
  margin-left: 3px;
}
footer > article > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8%;
  margin-top: 0.3rem;
  color: #18b153;
  position: relative;
  top: 10%;
}
article > div > p {
  margin-left: 10px;
  margin-right: 10px;
  font: 1.3rem "Patrick Hand", cursive;
  margin-top: 10px;
}
section > article > div {
  display: flex;
  flex-direction: row;
}
h1 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 3.4rem;
  text-align: center;
}
header > div:nth-child(1) > div:nth-child(2),
h3 {
  font-size: 1.17rem;
  font-family: "Quicksand", sans-serif;
}
header > div:nth-child(1) > div:nth-child(1) > img {
  background-color: #d4e6e9;
  border-radius: 50%;
  border: 1px solid #d4e6e9;
  height: 90%;
}
h3 {
  font-size: 1.1rem;
}
.img {
  display: none;
  height: 60%;
}
footer > article:hover {
  width: 25%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 740px) {
  header {
    height: 65px;
  }
  footer {
    height: 160px;
  }
  section {
    height: auto;
  }
  body {
    height: auto;
  }
  .article > div:nth-child(n) > img {
    height: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }

  header > div:nth-child(1) > div:nth-child(2) {
    display: none;
  }
  header > div:nth-child(1) {
    width: auto;
    min-width: 65px;
  }

  header > div:nth-child(1) > div:nth-child(1) > img {
    margin-left: 25px;
  }

  header > div:nth-child(2) {
    flex-grow: 1;
  }
  .article > div:nth-child(n) {
    margin: 10px 0px;
    width: 95%;
    min-height: 24%;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: unset;
  }
  section > div > img {
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }

  header > div:nth-child(1) > div:nth-child(2) {
    display: none;
  }
  header > div:nth-child(1) {
    width: auto;
    min-width: 65px;
  }
  header > div:nth-child(3) {
    width: auto;
    min-width: auto;
  }
  header > div:nth-child(1) > div:nth-child(1) > img {
    margin-left: 25px;
  }
  form {
    display: none;
  }
  header > div:nth-child(2) {
    flex-grow: 1;
  }
  .img {
    display: block;
    margin-right: 15px;
  }
  h3 {
    display: none;
  }
  .im {
    position: relative;
    top: 30%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  section > div > img {
    height: 70%;
  }
  footer > article > div {
    height: 15%;
  }
}
@media only screen and (max-width: 380px) {
  h1 {
    font-size: 1.2rem;
  }
  header > div:nth-child(1) > div:nth-child(1) > img {
    background-color: #d4e6e9;
    border-radius: 50%;
    border: 1px solid #d4e6e9;
    height: 70%;
  }
  .img {
    height: 40%;
  }
  article > div > p {
    margin-left: 10px;
    margin-right: 10px;
    font: 1rem "Patrick Hand", cursive;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 200px) {
  header > div:nth-child(1) {
    display: none;
  }
  header > div:nth-child(3) {
    display: none;
  }
  section > div > img {
    height: 70px;
    border: 2px solid #18b153;
  }
}
